
<div class="wrapper">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="example-form">


    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <label>
        <input type="text" matInput placeholder="Your name" formControlName="name" name="name">
      </label>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Age</mat-label>
      <label>
        <input type="number" matInput placeholder="Your age" formControlName="age" name="age">
      </label>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <label>
        <input type="email" matInput placeholder="Your email" formControlName="email" name="email">
      </label>
    </mat-form-field>

    <button  mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>

  </form>

  <ng-template [ngIf]="records.length !== 0">
    <div>
      <mat-card *ngFor="let item of records; index as i; " class="card">
        Name: {{item.name}}<br>
        Age: {{item.age}}<br>
        Email: {{item.email}}<br>
      </mat-card>

    </div>
  </ng-template>
</div>

